body {
 font-family: 'Dancing Script', cursive;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("./img/waiting.jpg") center / cover no-repeat;
  z-index: -1;
}

body.ready::before {
  background: url("./img/already.jpg") center / cover no-repeat;
}

.heading {
    display: flex;
    justify-content: center;
}
h1 {
    font-size: 60px;
    color: #0C2B4E;
    letter-spacing: 0.1em;
}

h2 {
    color: #0C2B4E;
    font-size: 35px;
}

.newStyleTitle {
    color: #B80000;
    font-size: 75px;
    letter-spacing: 0.1em;
    background: linear-gradient(135deg, #e0e0e0, #c0c0c0, #FAEAB1 2000%);
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #B80000;
}

.timer {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.timerBlockMain {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.one {
    margin-left: 10%;
}
.two {
    margin-left: 30%;
}

.three {
    margin-left: 10%;
}

.four {
    margin-left: 30%;
}